.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
}

.oldStyle {
  color: blue;
  font-size: 16px;
}

.newStyle {
  color: red;
  font-weight: bold;
  background-color: yellow;
}